/* Write your code here. */
.container {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}
.content-container {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 50px;
  font-family: 'Roboto';
  color: #fff;
  max-width: 40vw;
  font-weight: 500;
}
.button-container {
  display: flex;
  flex-direction: column;
}
.label {
  color: #fff;
  font-family: 'Roboto';
  font-size: 13px;
  margin-bottom: 10px;
}
.input-text {
  background-color: transparent;
  height: 30px;
  width: 25vw;
  border-color: #fff;
  border-width: 1px;
  color: #e4e7eb;
}
.button {
  height: 70px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  border-style: none;
  margin: 25px;
  color: #219a6f;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.image {
  height: 80vh;
  width: 50vw;
}
